.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    width: 85%;
}

.info {
    background-color: greenyellow;
}

.video {
    background-color: aqua;
}
